.cityImages {
    margin-bottom: 20px;
    margin-top: 20px
}

.cityImages img {
    max-height:400px; 
    min-width:100%;
}

.displayImages {
    min-height:400px;
}

.dash-pagination, .title {
    text-align:center;
}

.title {
    margin-top: 0;
    margin-bottom: 30px;
}
